@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Permanent+Marker&display=swap');

* {
    margin: 0; padding: 0; box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Permanent Marker', cursive; */
}

body{
    background-color: rgba(0, 0, 0, 0.63);
    color: #fff;
}